.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.ExtensonData.json
GlistApp/**
GlistApp-vscode/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
